{% load staticfiles %}
{% load core_tags %}
{% load wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Begin Meta -->
    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {% endblock meta %}
    <!-- End Meta -->

    <title>
        {% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}
        {% block title_postfix %}{% endblock %}</title>

    <!-- master stylesheet -->
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% endblock css %}
    <!-- end master stylesheet -->

    {% block head_scripts %}
        {# {% if not request.is_preview %}{% include 'core/includes/analytics.html' %}{% endif %} #}
        {# {% include 'core/includes/typekit.html' %} #}
        {% include 'core/includes/shivs.html' %}
    {% endblock head_scripts %}
</head>

<body>

<!-- Begin Navigation -->
{% block navigation %}{% endblock navigation %}
<!-- End Navigation -->

<!-- Begin Content -->
{% block content %}{% endblock content %}
<!-- End Content -->

<!-- Begin Footer -->
{% block footer %}{% endblock footer %}
<!-- End Footer -->

<!-- Being Wagtail -->
{% block wagtail %}
    {% wagtailuserbar 'bottom-left' %}
{% endblock %}
<!-- End Wagtail -->

<!-- Begin Javascript -->
{% block javascript %}
    <!-- main script -->
    <script src="{% static 'js/main.js' %}"></script>
{% endblock javascript %}
<!-- End Javascript -->

</body>

</html>
