{% load staticfiles %}

<footer class="py-4 content-block-nopad bg-deepocean bg-info">
    <div class="container footer-1-1">
        <div class="row">
            <div class="col-md-12">
                <hr class="">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <img src="{% static 'img/Kalleen.jpg' %}"
                     class="rounded-circle d-block img-fluid float-left w-25 px-3">
                <h2 class="text-brand-inverse">Thank you for stopping by!</h2>
                <div class="col-md-12">
                    <p class="text-brand-inverse">Kalleen Henderson - EFT Matrix Practitioner
                        <br>
                        <a href="#">info@neuroeft.com &nbsp;
                            <br> </a>253-948-6590</p>
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-1 col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <h4 class="text-brand-inverse">Shortcuts</h4>
                            <ul class="list-inline">
                                <small>
                                    <a href="#">About Kalleen</a>
                                    <hr class="">
                                </small>
                                <small>
                                    <a href="#">About EFT</a>
                                    <hr class="">
                                </small>
                                <small>
                                    <a href="#">About Matrix Reimprinting</a>
                                    <hr class="">
                                </small>
                                <small>
                                    <a href="#">Visit my Blog</a>
                                    <hr class="">
                                </small>
                                <small>
                                    <a href="#">Sources &amp; Info&nbsp;</a>
                                    <hr class="">
                                </small>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="text-brand-inverse">Contact me!</h4>
                        <a href="#" class="btn btn-warning btn-lg my-3 btn-block">Let's Talk</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"></div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</footer>
<div class="py-5 bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <small class=""><i class="text-muted">Disclaimer: EFT has produced remarkable clinical results but is
                    still considered to be in the experimental stage. You must take complete responsibility for your use
                    of it. Kalleen Henderson does not consider herself a therapist, psychologist, dietician or health
                    care professional. Kalleen offers EFT as a life performance coach. Her work with each client is
                    clearly not intended to replace a one-on-one relationship with a qualified health care professional
                    or as medical advice, diagnosis, or treatment. If you are under the care of any health
                    professionals, you are strongly encouraged to discuss your lifestyle, exercise program, nutrition,
                    or use of EFT with them, and never discontinue or reduce prescription medications without consulting
                    your doctor. By viewing this website you agree to fully release, indemnify, and hold harmless,
                    Kalleen Henderson from any claim or liability whatsoever or for any damage or injury, personal,
                    financial, emotional, psychological or otherwise, which you may incur arising at any time out of or
                    in relation to your use of the information presented on this website.</i></small>
            </div>
            <small class="">
            </small>
        </div>
        <small class="">
        </small>
    </div>
    <small class="">
    </small>
</div>
<small class="">