// Wagtail includes embeds and images at their full width, which may overflow
// the bounds of the content container you’ve defined in your templates.
// To make images and embeds responsive – meaning they’ll resize to fit their
// container – include the following CSS.

.rich-text img {
  max-width: 100%;
  height: auto;
}

.responsive-object {
  position: relative;
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}